@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root {
  --heading-color: #0d0e10;
  --text-color: #8c949c;
  --primary-color: #6359c7;
  --highlight-color: #e66666;
  --bg-color: #f4f4f4;
  --success-clr: #0ebb50;
}

/* base styles */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 1.1em;
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

.App {
  display: flex;
}
.container {
  flex-grow: 1;
  padding: 0 2rem 2rem;
}
.light {
  background-color: var(--bg-color);
}
.dark {
  background-color: var(--heading-color);
}
/* layout */
.page-title {
  font-size: 1.2rem;

  display: inline-block;
}
.btn {
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  color: var(--heading-color);
  border: 1px solid var(--primary-color);
}
.btn:hover {
  color: #fff;
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}
label span {
  display: block;
  margin-bottom: 6px;
}
input,
textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
textarea {
  min-height: 160px;
}
.error {
  color: var(--highlight-color);

  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}

.danger {
  color: var(--highlight-color);
}

.success {
  color: var(--success-clr);
}

.primary-clr {
  color: var(--primary-color);
}

.default-text-clr {
  color: #8c949c;
}
button:disabled {
  color: var(--heading-color);
}

p {
  color: var(--text-color);
  font-size: 0.9em;
}

.btn-default-br:hover {
  background-color: var(--primary-color);
}

.search-input:active {
  border: 1px solid var(--primary-color);
}

.user div h4 {
  white-space: nowrap;
}
